force-app/main/default/flows/Account_After_Update_SyncAsync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Add the UpdateContact variable record in UpdateContactList collection</description>
        <name>AddUpdateContactToCollection</name>
        <label>AddUpdateContactToCollection</label>
        <locationX>402</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>UpdateContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactsForMailingAddressChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copy Id from GetContacts and billing address from the Account record</description>
        <name>CopyIdAndBillingAddress</name>
        <label>CopyIdAndBillingAddress</label>
        <locationX>402</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>UpdateContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactsForMailingAddressChange.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdateContactToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>As the contacts count &gt; 0 we need to update the contacts</description>
        <name>SetUpdateToTrue</name>
        <label>SetUpdateToTrue</label>
        <locationX>402</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>DoUpdateContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyIdAndBillingAddress</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the Boolean DoUpdate is true, use the Update Records to store the contacts in the Database</description>
        <name>CheckDoUpdates</name>
        <label>CheckDoUpdates</label>
        <locationX>314</locationX>
        <locationY>984</locationY>
        <defaultConnectorLabel>NoContactUpdates</defaultConnectorLabel>
        <rules>
            <name>UpdateContactsCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DoUpdateContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContacts</targetReference>
            </connector>
            <label>UpdateContacts</label>
        </rules>
    </decisions>
    <description>This flow will be triggered for Accounts to actions or related record updates</description>
    <interviewLabel>Account After - Create Update - SyncAsync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After - Update - SyncAsync</label>
    <loops>
        <description>This loop will iterate over contacts and update the mailing addresses for each of them.</description>
        <name>ContactsForMailingAddressChange</name>
        <label>ContactsForMailingAddressChange</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <collectionReference>GetContactsForAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetUpdateToTrue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckDoUpdates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch all the contacts for the account whose billing address was changed</description>
        <name>GetContactsForAccount</name>
        <label>GetContactsForAccount</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactsForMailingAddressChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingAddress</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This will save the update contacts to databases</description>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>50</locationX>
        <locationY>1104</locationY>
        <inputReference>UpdateContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContactsForAccount</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>BillingStreet</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingState</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>If this Boolean is true do the DML update</description>
        <name>DoUpdateContacts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This is the instance variable that will be used to create a new Contact variable inside the loop</description>
        <name>UpdateContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>This collection will hold all the contacts that need to be updated.</description>
        <name>UpdateContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
