force-app/main/default/flows/Account_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add1ToNewAccountCounter</name>
        <label>Add1ToNewAccountCounter</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NewAccountCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewAccountContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add1ToOldAccountCounter</name>
        <label>Add1ToOldAccountCounter</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>OldAccountCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OldAccountContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_new_Account_Update</name>
        <label>Check For new Account Update</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_For_Old_Account_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoNewAccountUpdate</defaultConnectorLabel>
        <rules>
            <name>UpdateNewAccount</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllContactsFornewAccount</targetReference>
            </connector>
            <label>UpdateNewAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Old_Account_Update</name>
        <label>Check For Old Account Update</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>NoOldAccountUpdate</defaultConnectorLabel>
        <rules>
            <name>UpdateOldAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllContactsForOldAccount</targetReference>
            </connector>
            <label>UpdateOldAccount</label>
        </rules>
    </decisions>
    <formulas>
        <description>This will be true for Insert scenario</description>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account After - Create Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After - Create Update</label>
    <loops>
        <name>NewAccountContacts</name>
        <label>NewAccountContacts</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>GetAllContactsFornewAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add1ToNewAccountCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateNewAccountContactsCounter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OldAccountContacts</name>
        <label>OldAccountContacts</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <collectionReference>GetAllContactsForOldAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add1ToOldAccountCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOldAccountContactsCounter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllContactsFornewAccount</name>
        <label>GetAllContactsFornewAccount</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewAccountContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllContactsForOldAccount</name>
        <label>GetAllContactsForOldAccount</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OldAccountContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateNewAccountContactsCounter</name>
        <label>UpdateNewAccountContactsCounter</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Check_For_Old_Account_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_of_Contacts__c</field>
            <value>
                <elementReference>NewAccountCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOldAccountContactsCounter</name>
        <label>UpdateOldAccountContactsCounter</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_of_Contacts__c</field>
            <value>
                <elementReference>OldAccountCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_For_new_Account_Update</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This will count contacts for new Account field value</description>
        <name>NewAccountCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>COunt of contacts for the old value of Account field</description>
        <name>OldAccountCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
