force-app/main/default/flows/Create_New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Store the information entered by the user in the ContactRecord variable</description>
        <name>FillContactRecord</name>
        <label>FillContactRecord</label>
        <locationX>366</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNameScreen.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNameScreen.middleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNameScreen.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactNameScreen.salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAccountScreen.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactEmailScreen.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLeadSourceScreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LastNameBlankCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the variable that displays the last name validation message as false</description>
        <name>ShowLastNameMessageAsFalse</name>
        <label>ShowLastNameMessageAsFalse</label>
        <locationX>728</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>ShowLastNameMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the variable &apos;ShowLastNameMessage&apos; as true</description>
        <name>ShowLastNameMessageAsTrue</name>
        <label>ShowLastNameMessageAsTrue</label>
        <locationX>86</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>ShowLastNameMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Information</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision box will determine whether or not we should display the Last Name Validation message.</description>
        <name>LastNameBlankCheck</name>
        <label>LastNameBlankCheck</label>
        <locationX>465</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>ShowLastNameMessageAsFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LastNameNotBlank</defaultConnectorLabel>
        <rules>
            <name>LastNameBlank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ContactNameScreen.lastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactNameScreen.lastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowLastNameMessageAsTrue</targetReference>
            </connector>
            <label>LastNameBlank</label>
        </rules>
    </decisions>
    <description>This screen flow is to create a new contact</description>
    <dynamicChoiceSets>
        <description>This is metadata created from Contact.LeadSource for displaying dropdown in our flow</description>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This is to create contact with information entered in ContactScreen</description>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>475</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ContactAccountScreen.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ContactEmailScreen.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ContactNameScreen.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ContactNameScreen.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>ContactLeadSourceScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>ContactNameScreen.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>ContactNameScreen.salutation</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>This screen takes the contact information</description>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>147</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FillContactRecord</targetReference>
        </connector>
        <fields>
            <name>LastNameValidationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 14, 14);&quot;&gt;***Please enter the Last Name before clicking NEXT***&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowLastNameMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactNameScreen</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName,middleName,salutation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>ContactRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>ContactRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleName</name>
                <value>
                    <elementReference>ContactRecord.MiddleName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>ContactRecord.Salutation</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactAccountScreen</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ContactRecord.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactEmailScreen</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>example@example.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>ContactRecord.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactLeadSourceScreen</name>
            <choiceReferences>LeadSource</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContactRecord.LeadSource</elementReference>
            </defaultValue>
            <fieldText>Lead Source</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen will show a fault message</description>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>666</locationX>
        <locationY>524</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>&lt;p&gt;Creation failed with message: &lt;span style=&quot;color: rgb(231, 9, 9);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This will display success message on creation on contact</description>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>337</locationX>
        <locationY>533</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessageDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The contact has been successfully inserted. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!CreateContact}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Click here to open created contact.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Contact_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This will store the information entered by the user</description>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>This variable will determine whether we should show the Lastname validation message.</description>
        <name>ShowLastNameMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
