force-app/main/default/flows/NotifyNewNetflixMovie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotifyAboutNewMovie</name>
        <label>NotifyAboutNewMovie</label>
        <locationX>264</locationX>
        <locationY>434</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>JustLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyRich</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>JustLoop.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Upcoming Release</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>NetflixNewUpcomingMovie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotifyNewNetflixMovie</label>
    <loops>
        <description>Loop over contacts to send them an email</description>
        <name>JustLoop</name>
        <label>JustLoop</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <collectionReference>GetEmailsOfAllContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>NotifyAboutNewMovie</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contacts who have their emails populated</description>
        <name>GetEmailsOfAllContacts</name>
        <label>GetEmailsOfAllContacts</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JustLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0035j000008LwqgAAC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEmailsOfAllContacts</targetReference>
        </connector>
        <object>NetflixNewMovie__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyRich</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!JustLoop.Name},
Upcoming movie detail:
Title: {!$Record.Title__c}
Genre: {!$Record.Genre__c}
Date of Release: {!$Record.ReleaseDate__c}
Rating: {!$Record.iMDB_Rating__c}
Cast: {!$Record.Cast__c}</text>
    </textTemplates>
</Flow>
